# Executables
thermal_satellite
thermal_satellite.exe
*.out
*.exe

# Object files
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/c_cpp_properties.json

# Build directories
build/
bin/
